body {
    background-color: grey; 
}

#mapid { 
    height: 500px; 
    width: 75%; 
}

#mapContainer {
  display: flex;
  justify-content: center;
  background-color: white; 
  padding-top: 25px;
  padding-bottom: 25px; 

}

h1 {color: red}

.grid-container {
    display: grid;
    text-align: center; 
  }