

#Geolocator {
    display: flex;
    justify-content: center; 
    padding-bottom: 25px;
    padding-top: 25px;  
}

#myBtn{
    margin: 25px; 
}

#mapid { 
    height: 500px; 
    width: 75%; 
    border-style: solid;
    border-color: black; 
}

#mapContainer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px; 
  

}


.grid-container {
    display: grid;
    text-align: center; 
    background-color: wheat;
    border-top-style: solid; 
  }